
.DS_Store

Findr.xcodeproj/project.xcworkspace/xcuserdata/yangsong.xcuserdatad/UserInterfaceState.xcuserstate

Findr.xcodeproj/project.xcworkspace/xcuserdata/yangsong.xcuserdatad/

FindrIOS/FindrIOS.xcodeproj/project.xcworkspace/xcuserdata/yangsong.xcuserdatad/UserInterfaceState.xcuserstate
